---
# tasks file for roles/add-scrape-config
  - name: Ensure prometheus directory exists
    delegate_to: prometheus
    file:
      path: /etc/prometheus
      state: directory 
    tags: [never, prometheus]

  - name: Add scrape configuration
    delegate_to: prometheus
    blockinfile:
      path: /etc/prometheus/prometheus.yml
      marker: "# {mark} MYSQLD_EXPORTER TARGET"
      insertafter: EOF
      block: >
          - job_name: 'mysqld_exporter'
            static_configs:
              - targets: ['{{ exporter_host }}:{{ exporter_port }}']
    when: mysqld_exporter_host is defined
    notify: reload_daemon_and_restart_mysqld_exporter 
    tags: [never, prometheus]