
- name: install prometheus 
  hosts: monitor
  become: true
  remote_user: root
  vars:
    ansible_ssh_private_key_file: /home/suman/.ssh/id_rsa
  tags:
    - prometheus
  roles:
    - prometheus

- name: install node-exporter
  hosts: others 
  become: true
  remote_user: root
  vars:
    ansible_ssh_private_key_file: /home/suman/.ssh/id_rsa
  tags:
    - node-exporter
  roles:
    - node-exporter

- name: install mysqld_exporter
  hosts: mysqld
  become: true
  remote_user: root
  vars:
    ansible_ssh_private_key_file: /home/suman/.ssh/id_rsa
  tags:
    - mysqld-exporter
  roles:
    - mysqld-exporter

- name: install rabbitmq-exporter
  hosts: rabbitmq
  become: true
  remote_user: root
  vars:
    ansible_ssh_private_key_file: /home/suman/.ssh/id_rsa
  tags:
    - rabbitmq-exporter
  roles:
    - rabbitmq-exporter
    
- name: install redis-exporter
  hosts: redis
  become: true
  remote_user: root
  vars:
    ansible_ssh_private_key_file: /home/suman/.ssh/id_rsa
  tags:
    - redis-exporter
  roles:
    - redis-exporter